// Bootstrap override variables here
// $primary: #6c757d;

// Import Bootstrap SCSS
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom SCSS
// ------------------------------- Global Custom SCSS -------------------------------
// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

// Variables
$cursor: url('/static/assets/UI/icons/cursor.svg') 10 10, auto;
$cursor-pointer: url('/static/assets/UI/icons/cursor_pointer.svg') 10 10, pointer;

// Basic CSS Reset
html, body {
	font-family: 'Space Mono', monospace;
	margin: 0;
	padding: 0;
	font-variant-ligatures: no-common-ligatures;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: $cursor;
}

button {
    font-variant-ligatures: no-common-ligatures;
}

.full-height {
	height: 100vh;
}

// label {
// 	cursor: url('/static/assets/UI/icons/cursor.svg') 10 10, pointer;
// }

input, select, a, .clickable {
	cursor: $cursor-pointer !important;
}

label {
	cursor: $cursor;
}

// ------------------------------- BACKGROUND ANIMATION -------------------------------

// Define variables
// 42 color palette
// $color-bg1: rgb(46, 50, 62);
// $color-bg2: rgb(0, 186, 187);
// $color1: rgb(147, 47, 78);
// $color2: rgb(88, 153, 194);
// $color3: rgb(112, 174, 133);
// $color4: rgb(41, 45, 57);
// $color5: rgb(185, 170, 204);
// $color-interactive: rgb(3, 30, 42);

// Multicolor palette
$color-bg1: rgb(0, 0, 0);
$color-bg2: rgb(47, 0, 79);
$color1: rgb(22, 75, 154);
$color2: rgb(148, 49, 171);
$color3: rgb(68, 149, 174);
$color4: rgb(149, 34, 119);
$color5: rgb(136, 140, 40);
$color-interactive: rgb(7, 56, 201);

// Red color palette
// $color-bg1: rgb(84, 0, 0);
// $color-bg2: rgb(60, 63, 0);
// $color1: rgb(255, 123, 0);
// $color2: rgb(255, 183, 0);
// $color3: rgb(255, 31, 31);
// $color4: rgb(129, 79, 13);
// $color5: rgb(255, 229, 31);
// $color-interactive: rgb(135, 15, 15);


$circle-size: 80%;
$blending: hard-light;

@keyframes moveInCircle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(-50%);
	}
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-50%) translateY(-10%);
	}
	50% {
		transform: translateX(50%) translateY(10%);
	}
	100% {
		transform: translateX(-50%) translateY(-10%);
	}
}

.gradient-bg {
	z-index: -2;
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	background: linear-gradient(40deg, $color-bg1, $color-bg2);
	// background-image: url(/static/assets/background/bg_42.jpg);
	// background: black;

	top: 0;
	left: 0;

	svg {
		display: none;
	}

	.gradients-container {
		filter: url(#goo) blur(40px);
		width: 100%;
		height: 100%;
	}

	@mixin g($color, $top, $left, $animation, $transform-origin, $opacity, $circle-size: 80%) {
		position: absolute;
		background: radial-gradient(circle at center, rgba($color, 0.8) 0, rgba($color, 0) 50%) no-repeat;
		mix-blend-mode: $blending;
		width: $circle-size;
		height: $circle-size;
		top: $top;
		left: $left;
		transform-origin: $transform-origin;
		animation: $animation;
		opacity: $opacity;
	}

	.g1 {
		@include g($color1, calc(50% - $circle-size / 2), calc(50% - $circle-size / 2), moveVertical 30s ease infinite, center center, 1);
	}

	.g2 {
		@include g($color2, calc(50% - $circle-size / 2), calc(50% - $circle-size / 2), moveInCircle 20s reverse infinite, calc(50% - 400px), 1);
	}

	.g3 {
		@include g($color3, calc(50% - $circle-size / 2 + 200px), calc(50% - $circle-size / 2 - 500px), moveInCircle 40s linear infinite, calc(50% + 400px), 1);
	}

	.g4 {
		@include g($color4, calc(50% - $circle-size / 2), calc(50% - $circle-size / 2), moveHorizontal 40s ease infinite, calc(50% - 200px), 0.7);
	}

	.g5 {
		@include g($color5, calc(50% - $circle-size), calc(50% - $circle-size), moveInCircle 20s ease infinite, calc(50% - 800px) calc(50% + 200px), 1, calc($circle-size * 2));
	}

	.interactive {
		position: absolute;
		background: radial-gradient(circle at center, rgba($color-interactive, 0.8) 0, rgba($color-interactive, 0) 50%) no-repeat;
		mix-blend-mode: $blending;
		width: 100%;
		height: 100%;
		top: -50%;
		left: -50%;
		opacity: 0.7;
	}
}

// Background noise
.background-noise {
	background-image: url(/static/assets/background/noise-light.png);
	opacity: 0.8;
	background-repeat: repeat;
	background-size: auto;
    background-blend-mode: overlay;

	z-index: -1;
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;

}

// Video Background
#video-background {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

// ------------------------------- Custom Buttons -------------------------------
.btn {
	&:hover {
		border: 1px solid white;
		cursor: pointer;
		cursor: url('/static/assets/UI/icons/cursor_pointer.svg') 10 10, pointer;
	}
}

.btn-filled {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
}

// ------------------------------- Custom Classes -------------------------------

.glass {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	// box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
	animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.hr {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.glass-modal-bg {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
}

// hr {
// 	border: 1px solid rgba(255, 255, 255, 0.8);
// }

.return-btn {
	animation: waitFadeIn 1s ease-out;
}

.fixed-width-btn {
    width: 150px;
}

.fixed-width-btn-lg {
	min-width: 180px;
}

// SETTINGS PAGE
.container-settings {
	max-width: 400px;
}

#languageSwitcher {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.1);
	color: white;
	padding: 5px;
	margin-left: 10px;
}

.custom-checkbox {
	appearance: none;
	-webkit-appearance: none;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	cursor: pointer;
	outline: none;
}
  
  .custom-checkbox:checked {
	background-color: #d7c900;
	border-color: rgba(255, 255, 255, 0.5);
}

// SIGN IN PAGE
.loading-icon {
	animation: spin 1s linear infinite;
}

// LOGIN PAGE
.container-login {
	max-width: 400px;
}

.text-input {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	color: white;
	caret-color: white;

}

.light-text {
	color: rgba(255, 255, 255, 0.7);
}

.sign {
	color: white;
}

.text-input:focus {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.7);
	color: white;
}

.text-input::placeholder {
	color: white;
}

// PROFILE PAGE
.container-profile {
	max-width: 400px;
}

.profile-pic {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

// PACMAN MENU PAGE
#rangeInput {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: transparent;
    outline: none;
}

/* Custom track (background of the slider) */
@mixin custom-track {
	width: 100%;
	height: 20px;
	cursor: $cursor-pointer;
	background: url('/static/assets/pacman/images/food2.png') repeat-x; /* Dots as background */
	border: none;
}

#rangeInput::-webkit-slider-runnable-track {
    @include custom-track;
}

#rangeInput::-moz-range-track {
	@include custom-track;
}

/* Custom handle (thumb) with Pac-Man image */
@mixin custom-thumb {
	width: 40px;
	height: 40px;
	background: url('/static/assets/pacman/images/pacman_high_res.png') no-repeat;
	background-size: cover;
	cursor: $cursor-pointer;
	border: none;
}

#rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @include custom-thumb;
    margin-top: -10px;
}

#rangeInput::-moz-range-thumb {
	@include custom-thumb;
}

// Hover effect for thumb
@mixin custom-thumb-hover {
	background-size: cover;
	filter: brightness(0.7);
}

#rangeInput::-webkit-slider-thumb:hover {
    @include custom-thumb-hover;
}

#rangeInput::-moz-range-thumb:hover {
	@include custom-thumb-hover;
}

// Selected element
.selected {
	// background: rgba(255, 255, 255, 0.2);
	border: 3px solid rgba(255, 255, 255, 1) !important;
}

// PACMAN GAME PAGE
#gameContainer {
	position: relative;
}

#btnStart {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

// EDIT PROFILE PAGE
.container-edit {
	max-width: 450px;
}

// FRIENDS PAGE
.container-friends {
	max-width: 800px;
	height: 700px;
}

.list-container {
	height: 100%;
}

.users-list, .friends-list {
	height: 100%;

}

#user-elements, #friend-elements {
	height: calc(100% - 80px);
	overflow-y: auto;
	scrollbar-color: rgba(255,255,255, 0.5) transparent;
}

.user-element {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	display: block;
	text-align: start;

	.profile-pic-list {
		width: 30px;
		height: 30px;
		display: inline;
		margin-right: 5px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
	}

	.plus-icon-list {
		width: 20px;
		height: 20px;
		display: inline;
		margin-left: auto;
		transition: 0.3s;

		// on hover
		&:hover {
			filter: brightness(0.7);
			rotate: 90deg;
			cursor: $cursor-pointer;
		}

	}

	p {
		display: inline;
	}
}

.friend-element {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	display: block;
	text-align: start;
	position: relative;

	.profile-pic-list {
		width: 30px;
		height: 30px;
		display: inline;
		margin-right: 5px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
	}

	.minus-icon-list {
		width: 20px;
		height: 20px;
		display: inline;
		margin-left: auto;
		transition: 0.3s;

		// on hover
		&:hover {
			filter: brightness(0.7);
			rotate: 180deg;
			cursor: $cursor-pointer;
		}

	}

	p {
		display: inline;
	}

	.online-icon-list {
		width: 15px;
		height: 15px;
		display: inline;
		position: absolute;
		top: 26px;
		left: 19px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
	}
}

// ------------------------------- Responsive -------------------------------
// Mobile
@media screen and (max-width: 768px) {
    .games-page, .pacman-menu-page, .pacman-page, .pong-page {
        display: none !important;
    }

	.games-page-mobile {
		display: flex !important;
	}

	.glass {
		// remove glass effect
		background: transparent;
		backdrop-filter: none;
		border: none;
		box-shadow: none;

	}
}

// Desktop
@media screen and (min-width: 768px) {
	.games-page, .pacman-menu-page, .pacman-page, .pong-page {
		display: flex !important;
	}

	.games-page-mobile {
		display: none !important;
	}
}

// ------------------------------- Custom Keyframes -------------------------------

@keyframes waitFadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// ------------------------------- Accessibility -------------------------------
a:focus-visible, button:focus-visible, input:focus-visible, select:focus-visible, .tabbable:focus-visible {
    outline: 3px solid #ffcc00 !important;
    outline-offset: 4px !important;
}

button:focus,
.btn:focus {
    background-color: inherit;
    border-color: inherit;
    box-shadow: none;
}