// Cursor
$cursor: url('/static/assets/UI/icons/cursor_big.svg') 15 15, auto;
$cursor-pointer: url('/static/assets/UI/icons/cursor_pointer_big.svg') 15 15, pointer;

// Colors
$main-color: rgb(220, 250, 255);
$main-color-darker: rgb(133, 169, 176);

// Margins
$glass-margin-top: 32px;