// Mobile
@media screen and (max-width: 768px) {
    .games-page, .pacman-menu-page, .pacman-page, .pong-page {
        display: none !important;
    }

	.games-page-mobile {
		display: flex !important;
	}

	// remove glass effect
	.glass {
		background: transparent;
		backdrop-filter: none;
		border: none;
		box-shadow: none;

	}
}

// Desktop
@media screen and (min-width: 768px) {
	.games-page, .pacman-menu-page, .pacman-page, .pong-page {
		display: flex !important;
	}

	.games-page-mobile {
		display: none !important;
	}

	#pong-stat-table, #pacman-history-stat-table {
		width: 100%;
		table-layout: fixed;
	}
}